#drugfield {
    margin-top: 5px;
}

.back_buttons {
    margin-left: 470px;
}

.LabelSite {
    color: orange;
    font-size: 50px;
    text-align: center;
    margin-left: 35%;
    font-family: serif;
    background-color: #FFFFCC;
}