#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -5000;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: -5000;
}

#Page {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    
}

#AccountArea {
    text-align: right;
    color: white;
}

#Header {
    height: 150px;
}

#ImageHeader {
    width:100%;
    height: 100%;
}

#Menu {
    background-color: #006600;
    width: 1200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
}

.MenuButton {
    margin-right: 1px;
    text-align: center;
    line-height: 50px;
    background-color: #006600;
    width: 200px;
    color: #FFFFFF;
}

    .MenuButton:hover {
        background-color: #003333;
        color: black;
    }

.MenuButtonWrap {
    float: left;
}

#LogoutLinkButton {
    margin-right: 20px;
}

#ContentArea {
    height: 900px;
    margin-left:inherit;
}

#EntityPanel {
    width: 200px;
    height: 500px;
    /*border: 5px solid red;*/
    
}

.Entity
{
    text-align: center;
    font-family: sans-serif;
    line-height: 50px;
    width: 200px;
    background-color: #331100;
    color: #FFFFFF;
}

    .Entity:hover
    {
        background-color: #A3A329;
        color: #000000;
    }

#ContentPage
{
    margin-left: 200px;
    margin-top: -500px;
    height: 500px;
    margin-bottom: 50px;
    
}

.AllGridViews {
    margin-left: 50px;
    margin-top: 20px;
}

.AllSearchButtons {
    margin-left: 50px;
    margin-bottom: 20px;
}

.AllSearchFields {
    margin-left: 30px;
}

.AllUpdateProgresses {
    margin-left: 165px;
    margin-bottom: 20px;
}

.AlertBoxMessage {
    text-align: center;
    margin-top: 30px;
    margin-left: 300px;

    display: none;
}

.Newbox {
    margin-left: 50px;
    margin-top: 30px;
}

.NewBoxTextLabel
{
    float:right;
}