#Page {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    
}

#AccountArea {
    text-align: right;
    color: white;
}

#Header {
    height: 150px;
    background-color:lightgreen;
    font-size: 30px;
    line-height: 150px;
    text-align: center;
}

#Menu {
    background-color: #003333;
    width: 1200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;

}

.MenuButton {
    margin-right: 1px;
    text-align: center;
    line-height: 50px;
    background-color: #003333;
    width: 200px;
    color: #FFFFFF;
}

    .MenuButton:hover {
        background-color: #008080;
        color: black;
    }

.MenuButtonWrap {
    float: left;
}

#LogoutLinkButton {
    margin-right: 20px;
}

#ContentArea {
    height: 680px;
    margin-left:inherit;
}

#EntityPanel {
    width: 200px;
    height: 500px;
    /*border: 5px solid red;*/
    
}

.Entity
{
    text-align: center;
    line-height: 50px;
    background-color: lightyellow;
    width: 200px;
    background-color: #003333;
    color: #FFFFFF;
}

    .Entity:hover
    {
        background-color: #008080;
        color: #000000;
    }

#ContentPage
{
    margin-left: 200px;
    margin-top: -500px;
    height: 500px;
    
}

.AllGridViews {
    margin-left: 50px;
}

.AllSearchButtons {
    margin-left: 50px;
}

.AllSearchFields {
    margin-left: 50px;
}

.AllUpdateProgresses {
    margin-left: 190px;
}


#Footer {
    background-color: lightgreen;
    height: 100px;
}